

.cv-image-selected {
  	-webkit-box-shadow: 10px 10px 5px rgba(237, 31, 142, 0.75);
  }

    div#divUstTab {
        float: left;
        position: relative;
        width: 100%;
        min-height: 36px;
        margin-left: 9px;
        background-color: #F0DDFB;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -khtml-border-radius-topleft: 10px;
        -khtml-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    div.ustalan {
        float: left;
        width: 100%;
        height: 26px;
        margin-left: 9px;
    }
    div.kritermenu {
        float: left;
        width: 206px;
        margin-left: 5px;
        margin-bottom: 30px;
    }
    div#divAramaSonuclari {
        float: left;
        width: 100%;
        margin-left: 9px;
        margin-bottom: 30px;
    }
    div#divUstTabKriterler {
        width: 530px;
        margin-top: 6px;
        margin-left: 12px;
        margin-bottom: 5px;
        text-align: left;
        white-space: normal;
    }
    hr.ustayrac {
        height: 1px;
        width: 100%;
        clear: both;
        border-top: 1px dotted #ccc;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        margin: 0;
        color: #fff;
        background-color: #fff;
    }
    div.ustalan {
        float: left;
        width: 100%;
        height: 26px;
        margin-left: 9px;
    }
    hr.ilanhr {
        height: 1px;
        border: 0;
        margin: 0;
        color: #ccc;
        background-color: #ccc;
        clear: both;
    }
    a.pozlink {
        color: #810582;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
    }

